/* CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
    3. =HERO
    4. =ABOUT
    5. =WORK
    6. =CONTACT
    7. =CONTACT-BAR
    8. =FOOTER
    9. =VIEWPORT-RESPONSES
*/

/* ===GLOBAL=== */

/* Set font and color scheme. */
:root {
    font-size: 62.5%;
    --font-main: 'Montserrat', sans-serif;
    --font-code: 'Inconsolata', monospace;
    --black: #021C1D;
    --dark-orange: #FA8130;
    --light-orange: #FAAE08;
    --blue: #2aefcb;;
    --white: #FDF1E1;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
}

h1 {
    color: var(--black);
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 3rem;
    text-align: left;
    padding: 20px;
}

h2,
h3,
h4,
h5 {
    color: var(--white);
    font-family: var(--font-main);
    font-weight: 700;
    margin: 40px 0;
}

h2 {
    font-size: 8rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 3rem;
    margin: 20px 0;
}

.font-code {
    color: var(--blue);
    font-family: var(--font-code);
    font-size: 3rem;
}

/* Set page margin. */
main {
    margin: 0 10vw;
}

/* Define section divider appearance. */
hr {
    border: 1px solid var(--blue);
    width: 300px;
    margin: 40px 0;
}

.center-hr {
    margin-left: auto;
    margin-right: auto;
}

/* Set scale to create pulse effect on hover. */
.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}

/* ===HEADER=== */

/* Define header appearance. */
header {
    background-color: var(--dark-orange);
}

/* Define navigation bar appearance. */
nav {
   background-color: var(--light-orange); 
   color: var(--black);
   font-family: var(--font-main);
   font-weight: 700;
   font-size: 2.5rem;
   width: 50vw;
   float: right;
   position: relative;
   margin-top: -20px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: var(--black);
}

/* ===HERO=== */

/* Define appearance of hero section. */
#hero {
    margin-top: 120px;
    display: flex;
    align-items: center;
}

#hero p {
    margin-top: 40px;
}

figure img {
    width: 33vw;
    margin-left: 80px;
    border-radius: 50%;
    box-shadow: 15px 10px 15px var(--dark-orange);
}

/* ===ABOUT=== */

/* Use flex to create about section with text on the left and icons on the right. */

#about-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Define appearance of about text. */
#about-text {
    display: flex;
    flex-direction: column;
}

.pop-box {
    background-color: var(--blue);
    color: var(--black);
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

#about-text ul {
    list-style: outside;
    margin-left: 40px;
    margin-bottom: 40px;
}

/* Define appearance of about icons. */
#about-icons {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    margin: 0 5vw;
}

/* ===WORK=== */

/* Define appearance of text in work section. */
#work h4, #work p {
    margin-left: 20px;
}

#work a {
    color: var(--white);
    text-decoration: none;
}

/* Define appearance of primary application. */
.primary-work-card {
    border: 3px solid var(--dark-orange);
    width: 80vw;
    margin-bottom: 30px;
}

.primary-work-card img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    margin: 10px 0;
}

/* Define appearance of secondary applications. */
#secondary-work {
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.secondary-work-card {
    border: 3px solid var(--dark-orange);
    width: 39vw;
    height: 40vh;
    margin-bottom: 20px;
}

.secondary-work-card img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    margin: 10px 0;
}

.placeholder {
    background: linear-gradient(var(--dark-orange),var(--light-orange));
    margin: 10px;
}

.placeholder p {
    padding: 40px;
    font-size: 4rem;
    text-align: center;
}

/* Set drop shadows to create glow effect on hover. */
.glow:hover {
    border: 3px solid var(--blue);
    box-shadow: inset 0px 0px 8px var(--blue), 0 0 15px var(--blue);
}

/* ===CONTACT=== */

/* Define display of contact section. */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Define appearance of links in contact section. */
#contact a {
    color: var(--black);
    background-color: var(--dark-orange);
    text-decoration: none;
    font-family: var(--font-main);
    font-weight: 700;
    width: 150px;
    padding: 15px;
    margin: 30px;
    text-align: center;
}

/* Center links in contact section. */
#links-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ===CONTACT-BAR=== */

/* Define appearance of icons in contact bar and set to bottom-right of screen. */
#contact-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    line-height: 0;
}

#contact-bar a {
    background: var(--blue);
    margin: 10px;
    border-radius: 50%;
    border: 10px solid var(--blue);
}

#contact-bar img {
    height: 40px;
    width: 40px;
}

/* ===FOOTER=== */

/* Define appearance of footer. */
footer {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
}

footer h5 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* ===VIEWPORT-RESPONSES=== */

/* Tablets - Remove about icons, adjust text size, adjust secondary work tiles to fill whole width of screen instead of a third. */
@media screen and (max-width: 992px) {
    h2 {
        font-size: 7rem;
    }

    #about-icons img {
        display: none;
    }

    #about-flex, #about-text {
        display: inline;
        width: auto;
        margin-right: 0;
    }

    #secondary-work {
        display: flex;
        flex-direction: column;
    }

    .secondary-work-card {
        width: 80vw;
        margin-bottom: 30px;
    }
  }
  
/* Large smartphones -  Remove contact bar and center everything. */
@media screen and (max-width: 768px) {
    #contact-bar {
        display: none;
    }

    h2, h3, h4, p, ul, li, .pop-box {
        margin: auto;
        text-align: center;
    }

    h2 {
        font-size: 6rem;
    }

    h3, .pop-box {
        margin-bottom: 30px;
    }

    hr {
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        width: 100vw;
        margin: 0;
    }

    #hero {
        flex-direction: column;
    }

    figure img {
        margin-left: 0;
        margin-top: 40px;
    }

    #contact a {
        margin: 15px;
    }
    
    #work h4, #work p {
        margin-left: 0;
    }
}
  
/* Small smartphones - Reduce size of all text. */
@media screen and (max-width: 576px) {
    :root {
        font-size: 50%;
    }
}