:root {
--font-main: 'Montserrat', sans-serif;
--font-code: 'Inconsolata', monospace;
--black: #021C1D;
--dark-orange: #FA8130;
--light-orange: #FAAE08;
--blue: #64FFDA;
--white: #FDF1E1;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-style: var(--font-main);
    font-size: 140%;
    font-weight: 200;
    line-height: 1.5;
}

h2 {
    color: var(--white);
    font-family: var(--font-main);
    font-style: 700;
    font-size: 400%;
    margin-top: 40px;
    margin-bottom: 40px;
}

h3 {
    color: var(--white);
    font-family: var(--font-main);
    font-style: 700;
    font-size: 280%;
    margin-top: 40px;
    margin-bottom: 40px;
}

h4 {
    color: var(--white);
    font-family: var(--font-main);
    font-style: 700;
    font-size: 130%;
    margin-top: 20px;
    margin-bottom: 10px;
}

h5 {
    color: var(--white);
    font-family: var(--font-main);
    font-style: 700;
    font-size: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

hr {
    border: 1px solid var(--blue);
    width: 16vw;
    margin-top: 40px;
    margin-bottom: 40px;
}

.font-code {
    font-family: var(--font-code);
    font-size: 160%;
    color: var(--blue);
}

header {
    background-color: var(--dark-orange);
}

header h1 {
    color: var(--black);
    font-family: var(--font-main);
    font-size: 200%;
    text-align: left;
    padding: 20px;
}

nav {
   background-color: var(--light-orange); 
   color: var(--black);
   font-family: var(--font-main);
   font-weight: 700;
   font-size: 125%;
   width: 50%;
   float: right;
   position: relative;
   margin-top: -20px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: var(--black);
}

main {
    margin-left: 10vw;
    margin-right: 10vw;
}

.contact-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    line-height: 0;
}

.contact-bar a {
    background: var(--blue);
    margin: 10px;
    border-radius: 50%;
    border: 10px solid var(--blue);
}

.contact-bar img {
    height: 40px;
    width: 40px;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}

#hero {
    margin-top: 120px;
    display: flex;
    align-items: center;
}

#hero p {
    max-width: 70%;
    margin-top: 40px;
}

figure img {
    width: 450px;
    margin-left: 80px;
    border-radius: 50%;
    box-shadow: 15px 10px 15px var(--dark-orange);
}

#about-content {
    display: flex;
}

.pop-box {
    background-color: var(--blue);
    padding: 20px;
    width: 70%;
    font-style: var(--font-main);
    font-size: 140%;
    font-weight: 200;
    color: var(--black);
    text-align: center;
    line-height: 1.5;
    margin-bottom: 40px;
}

#about ul {
    list-style: inside;
    margin-left: 20px;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
}

.skills-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 200px;
}

.skills-icon img {
    max-width: 80px; 
    max-height: 80px;
    height: auto; 
    width: auto; 
}

.skill-icons-background {
    background-color: var(--dark-orange);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px var(--light-orange);
    margin: 20px;
    z-index: -1;
    position: relative;
    top: -135px;
}

#work h4, #work p {
    margin-left: 20px;
}

#work a {
    color: var(--white);
    text-decoration: none;
}

.primary-work-card {
    border: 3px solid var(--dark-orange);
    width: 80vw;
    margin-bottom: 40px;
}

.primary-work-card img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    margin: 10px 0;
}

.glow:hover {
    border: 3px solid var(--blue);
    box-shadow: inset 0px 0px 8px var(--blue), 0 0 15px var(--blue);
 }

.secondary-work {
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
}

.secondary-work-card {
    border: 3px solid var(--dark-orange);
    width: 25vw;
    margin-bottom: 20px;
}

.coming-soon {
    background: linear-gradient(var(--dark-orange),var(--light-orange));
    margin: 10px;
}

.coming-soon p {
    padding: 40px;
    font-size: 150%;
    margin-left: 0;
    text-align: center;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-hr {
    margin-left: 32vw;
    margin-right: 32vw;
}

#contact a {
    color: var(--black);
    background-color: var(--dark-orange);
    text-decoration: none;
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 100%;
    width: 150px;
    padding: 15px;
    margin: 30px;
    text-align: center;
}

#links-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    font-size: 70%;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}



